.footer {
  margin-top: 28px;
  margin-bottom: 100px;

  @media (max-width: $bp-tablet) {
    margin-top: 12px;
    margin-bottom: 52px;
  }

  @media (max-width: $bp-mobile) {
    margin-top: 20px;
    margin-bottom: 36px;
  }
}

.footer__inner {
  display: block;
  padding-left: 420px;
  color: $black;

  a {
    opacity: 0.5;
    margin-right: 80px;
    display: inline-block;
  }

  span {
    padding-left: 15px;
    line-height: 22px;
    vertical-align: top;

    &:hover {
      color: $vivid-cyan;
    }
  }

  svg {
    width: 26px;
    height: 24px;
    fill: transparent;

    &:hover {
      stroke: $vivid-cyan;
      fill: $vivid-cyan;
    }
  }

  @media (max-width: $bp-tablet) {
    padding-left: 87px;
  }

  @media (max-width: $bp-mobile) {
    padding-left: 8px;

    a {
      margin-right: 0;
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
