.intro {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  min-height: 760px;
  align-items: center;
  position: relative;

  .intro__inner {
    max-width: 393px;
    position: relative;
  }

  .intro__logo {
    position: absolute;
    top: 15px;
    left: 0;
  }

  .intro__inner h2 {
    font-size: 46px;
    line-height: 64px;
    margin-top: 65px;
    margin-bottom: 25px;
    letter-spacing: 2px;
  }

  .intro__inner p {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    opacity: 0.8;
  }

  .intro__form {
    margin-left: 160px;
    max-width: 330px;
    padding-top: 22px;
  }

  .intro__form p {
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.3px;
  }

  .intro__form input,
  .intro__form button {
    margin-top: 20px;
    width: 100%;
  }

  .intro__form input {
    padding: 12px 30px;
    border: none;
    box-shadow: 0 0 0 1px $grayish-blue;
    border-radius: 4px;
    flex-grow: 1;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.3px;

    &:hover {
      box-shadow: 0 0 0 3px $vivid-cyan;
    }
  }

  .intro__inner,
  .intro__form p {
    margin: 0;
  }

  .intro__form button {
    background: $vivid-cyan;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    padding: 15px 10px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: darken($vivid-cyan, 10);
    }
  }

  @media (max-width: $bp-tablet) {
    flex-direction: column;
    justify-content: initial;
    min-height: 738px;
    padding: 0;

    &--nojs {
      &::before {
        top: 480px;
      }
    }

    .intro__logo {
      left: 20px;
      top: 25px;
    }

    .intro__form {
      max-width: 321px;
      margin-left: 0;
      padding: 0;
    }

    .intro__form input,
    .intro__form button {
      margin-top: 0;
      margin-bottom: 20px;
    }

    .intro__form input {
      padding: 12px 25px;
    }

    .intro__inner {
      max-width: 100%;
      text-align: center;
      margin-top: 68px;
      background-image: url("../img/img-bike-tablet@1x.png");
      min-height: 340px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: $very-dark-gray;
      width: 100%;
      top: -69px;
      left: 0;
      bottom: 0;
      z-index: -1;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/img-bike-tablet@2x.png");
      }

      &--nojs {
        top: 500px;
      }
    }

    .intro__inner h2 {
      font-size: 30px;
      line-height: 42px;
      margin-top: 135px;
      margin-bottom: 20px;
      letter-spacing: 0.9px;
    }

    .intro__inner p {
      font-size: 18px;
      max-width: 435px;
      margin: 0 auto;
      letter-spacing: 0.3px;
    }

    .intro__form p {
      font-weight: 600;
      font-size: 18px;
      color: $black;
      margin-bottom: 30px;
      letter-spacing: 0;
    }
  }

  @media (max-width: $bp-mobile) {
    .intro__logo {
      top: 24px;
      left: 17px;
    }

    .intro__inner {
      margin-top: 55px;
      padding: 0 15px;

      background-image: url("../img/img-bike-mobile@1x.png");
      min-height: 390px;
      top: -56px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/img-bike-mobile@2x.png");
      }
    }

    .intro__inner h2 {
      margin-top: 120px;
    }

    .intro__form p {
      margin-bottom: 20px;
      letter-spacing: 0.3px;
    }

    .intro__form {
      padding: 0 17px;
      margin-top: 14px;
    }
  }
}
