.main {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/img-bike@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $very-dark-gray;
    width: 100%;
    height: 825px;
    top: 0;
    left: 0;
    z-index: -1;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/img-bike@2x.png");
    }
  }

  @media (max-width: $bp-tablet) {
    &--nojs {
      &::before {
        top: 480px;
      }
    }

    &::before {
      background-image: url("../img/img-bike-tablet@1x.png");
      height: 340px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/img-bike-tablet@2x.png");
      }
    }
  }

  @media (max-width: $bp-mobile) {
    &::before {
      background-image: url("../img/img-bike-mobile@1x.png");
      height: 390px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/img-bike-mobile@2x.png");
      }
    }
  }
}
