*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $white;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.overflowed {
  overflow: hidden;
}

.main {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/img-bike@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 825px;
    top: 0;
    left: 0;
    z-index: -1;
  }

  @media (max-width: $bp-tablet) {
    &--nojs {
      &::before {
        top: 480px;
      }
    }

    &::before {
      background-image: url("../img/img-bike-tablet@1x.png");
      height: 340px;
    }
  }

  @media (max-width: $bp-mobile) {
    &::before {
      background-image: url("../img/img-bike-mobile@1x.png");
      height: 390px;
    }
  }
}
