$bp-tablet: 1023px;
$bp-mobile: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$black: #000000;
$very-dark-gray: #1f1f1f;
$very-light-gray: #f6f6f6;
$medium-gray: #48494d;
$vivid-cyan: #0ad9c6;
$light-vivid-cyan: #a1eee6;
$grayish-blue: #c9ccd4;
$very-dark-blue: #131314;
